

table {
    width: 100%;
    background-color: #fff;
    box-shadow:  0 0 15px 3px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    height: 100%;
    overflow: hidden;
}


td, th {
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    border-bottom: 1px solid #f2f2f2;
}
tbody tr{
    cursor: pointer;
    text-transform: capitalize;
}
tbody td{
    font-weight: 600;
}

tbody tr:hover>td{
    font-weight: bold;
    background-color: #203764;
    color: white;
    transition: 0.5s;
}

tbody tr>td{
    transition: 0.3s;
}

thead tr{
    background-color: #4473C5;
}

th {
    color: #ffffff;
    font-weight: 600;
}
thead , tbody{
   border: solid 1px #f3f3f3 !important; 
}


tr:nth-child(odd) td {
    background-color: #f2f2f2;
}
 
@media screen and (max-width: 767px) {

.row.content {height:auto;} 
}
.lista .form-select {
    border:  solid #4473C5 1px;
    color: #4473C5;
    font-weight: 600;
}
.lista .form-select option {
    background-color: #4473c500;
}

.separador{
    margin: 20px 0;
    border-bottom: solid 1px #4473C5;
}


.lista .nav{
    border: solid 1px #4473C5;
    border-radius: 6px;
    padding: 12px;
}
.lista .nav-link{
    font-weight: 600;
    margin: 4px 0;
    color: white;
    border-radius: 4px;
    background-color: #4473C5;
}
.lista .nav-link:hover{
    color: white;
    background-color: #203764;
}
.lista .nav-link:focus{
    color: white;
    background-color: #203764;
}
.lista .pesquisar{
    max-width: 420px
}
.lista img{
    max-height: 220px;
}
@media (max-width: 576px) {
    .ocultar-responsivo{
        display: none !important;
    }
}

.title-filter{
    color: #4473C5;
    padding: 2px;
    font-size: 18px;
}
.title-filter i{
    color: #4473C5;
    margin-right: 5px;
}


