/*** HOME GERAL **/
body{
    overflow-x: hidden;
}
.home section{
    margin-bottom: 26px;
}
/*** INTRODUÇÃO **/
.banner {
    background: #272727 url(../../assets/background.jpg) repeat;
    background-size: contain; 
}
.banner section{
    color: white;
    padding: 10px 0;
    background-color: rgba(39, 39, 39, 0.974);   
}
.intro-home{
    opacity: 1;
    z-index: 1;
    height: 380px;
    margin: 10px;
}
.intro-home h2{
    color: #4473C5;
    font-weight: bolder;
}
.intro-home p{
    font-size: 1.1rem;
}
.intro-home a{
    color: #4473C5;
    text-decoration: none;
}
.intro-home a:hover{
    transition: all 0.4s;
    color: #8FAADC;
    text-decoration: underline;
}
.background img{
    max-height: 380px;
}
/*** SECTION 2 **/
.section2 video{
    max-width: 700px;
}
.home .list-group-item{
    color: #203764;
    font-style: italic;
    font-weight: 900;
    background: none;
    border: none;
}
/*** SECTION 3 **/
.section3 p{
    max-width: clamp(500px, 80%, 60%);
}
.objetos .item{
    background-color: #0846c0;
    color: #ffff;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objetos i{
    padding: 10px;
    font-size: 36px;
}
.objetos b{
    font-size: 1.1rem;
}
.objetos{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
}
@media (min-width: 576px) {
    .objetos{
        grid-template-columns: repeat(2 , 50%);
    }
}
/*** SECTION 4 **/
.section4 img{
    max-height: 220px;
}