/*** HOME GERAL **/
.home section{
    margin-bottom: 26px;
}
/*** INTRODUÇÃO **/
.intro-home a{
    color: #4473C5;
    text-decoration: none;
}
.intro-home a:hover{
    transition: all 0.4s;
    color: #8FAADC;
    text-decoration: underline;
}
.background img{
    margin-right: -32px;
    max-height: 380px;
}
/*** SECTION 2 **/
.home .list-group-item{
    color: #203764;
    font-style: italic;
    font-weight: 900;
    background: none;
    border: none;
}
/*** SECTION 3 **/
.section3 img{
    max-height: 220px;
}